@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;

}

.container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px; 
    width: 450px;
}

.buttons{
    align-self: flex-start;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: auto;
}
.google-bt{
        background-color: #1A73E8;
        border: none;
        border-radius: 5px;
        height: 40px;
        padding: 2px;
        display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}


.google-bt:hover{
    opacity: 0.6;
}

.google-bt picture{
    width: 36px;
    background-color: white;
    height: 36px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.google-bt picture img{
    width: 75%;
}

.google-bt span{
    color: white;
    padding: 15px ;
    font-weight: 500;

}

.twitter-btn{
    color: #bbb;
    background-color: #eee;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
}

.twitter-btn img{
    width: 60%;
}
.twitter-btn:hover{
    background-color: #ddd;
}


/*SEPARADOR*/

.separator{
    display: flex;
    width: 100%;
    gap:15px;

}

.separator hr{
    flex-grow: 1;    
    border: none;
    border-top: 1px solid #ccc;
}

.separator span{
    color: #8b8b8b;
}


/*Formularios*/

.section-inputs{
    display: flex;
    gap: 10px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
}

label{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

label span{
    font-weight: 700;
}

label input{
    width: 90%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
    transition: background-color 0.2s ,border 0.2s, box-shadow 0.2s;
}
.section-inputs label input{
    width: 80%;
    background-color: #f3f3f4;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    outline: none;
    font-size: 14pt;
}
label input:hover{
    background-color: white;
    border: 2px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;

}

label input:focus{
    background-color: white;
    border: 2px solid #f3f3f4;
    box-shadow: 0 0 4px #eb50ff4f;
    
}

.password input::placeholder{
    color: #c2c2c2;
    font-weight: 100;
    font-size: 12pt;
}

.checkbox-label{
    display: flex;
    flex-direction: row;
}

.checkbox-label input[type="checkbox"]{
    width: 20px;
}

.checkbox-label span{
    font-weight: 300;
    color: #b4b4b7;
}

/*boton submit*/

#submit{
    background-color: #ea4c89;
    color: white;
    text-align: center;
    padding: 15px ;
    border: none;
    border-radius:10px ;
    font-weight: 500;
    font-size: 12pt;
    cursor: pointer;

}

#submit:hover{
    opacity: 0.75;
}